<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<%- include('common/header.ejs') %>
	<title>首页</title>
</head>
<body>
	<%- include('common/top.ejs') %>
	<div class="l-content">
		<%- include('common/left.ejs') %>
		<div class="l-right">
			<div class="l-right-wrap">
				<p class="text-center">欢迎进入商城管理后台</p>
			</div>
		</div>
	</div>
</body>
</html>